html,body{
  background-color: #6495ed; padding: 0;
}

.col-sm-9, .col-md-7 , .col-lg-5 { background-color: }
.top { background-color: #330380;}
.phead{
  background-color: #330380;
  margin: 10px 0px; padding: 15px 5px;
  box-sizing: border-box;
}

.phead > h3 , .phead > h2 {
  margin:0 ; padding: 0; text-align: center; font-family: 'Acme', sans-serif;
  color: white; border-color: transparent;
}

.phead > h2 { font-size: 28px; }
.phead > h3 { font-size: 20px; }

.flex-item { min-width: 50%; margin: 10px 0; box-sizing: border-box; height: 200px; text-align: center;}

li.media > img { width: 72px;}
li.media > div.media-body > h3 { font-size: 36px; font-family: 'Catamaran', sans-serif;}

.menu-item{ background-color: floralwhite;}